---
const { label, href } = Astro.props
const { pathname } = Astro.url
const isForCurrentPage = pathname === href

const classes = [
  'menu-item',
  {
    active: isForCurrentPage
  }
]
---

{isForCurrentPage
  ? <span class:list={classes}>{label}</span>
  : <a class:list={classes} href={href}>{label}</a>
}

<style>
  .menu-item {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }

  .menu-item:hover, a:focus {
    border-radius: 4px;
    background-color: #dddddd;
    color: #444444;
  }

  :global(.dark) .menu-item:hover, a:focus {
    border-radius: 4px;
    background-color: #444444;
    color: lightcoral;
  }

  .menu-item {
    display: inline-block;
    padding: 10px 20px;
  }

  .active {
    color: lightcoral;
  }

  .active:hover, .active:focus {
    color: lightcoral;
  }
</style>